{% extends "layoutadmin.html.twig" %}
{% block content %}
    <div class="container">
        <div class="col-lg-12">
            Bienvenue, vous pouvez modifier, créer, et supprimer vos articles. Enfin vous pouvez valider vos commentaires.
        </div>
    </div>
{% endblock %}
